body{
	background-color: #CEE3F6;
	color: #2E2E2E;
	font-family: Arial;
	font-size: 12pt;
}
.container {
	background-color: #81BEF7;
	border: thin solid black;
	margin:10px auto;
	width: 80%;
}

/*-----Logo Container-----*/
.logo_container{
	background-color: #ffffff;
	border: thin solid black;
	margin: 10px;
	
}
#logo{
	float: left;
}
#logo img{
	height: 75px;
	width: 75px;
	background-color: #ffffff;
	padding: 2px;
	margin: 10px;
}
ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    float: left;
    width: 6em;
    text-decoration: none;
    color: #2E2E2E;
    /*background-color: purple;*/
    margin: 20px;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
}

a:hover {
    background-color: fuchsia;
}

li {
    display: inline;
}

#user_name{
	float: right;
}
#user_name h2{
	margin-top: 64px;
	margin-bottom: 0px;
	font-family: Arial;
	color: #2E2E2E;
}
#user_pic{
	padding-left: 2px;
	margin-left: 10px;
	float: right;
}
#user_pic img{
	height: 75px;
	width: 75px;
	background-color: #ffffff;
	padding: 2px;
	margin: 10px;
}

/*-----Folder Container-----*/
.folder_container{
	background-color: #ffffff;
	font-size: .80 em;
	color: #2E2E2E;
	border: thin solid black;
	margin: 10px;
}
/*-----Email Container-----*/
.email{
	background-color: #ffffff;
	color: #2E2E2E;
	border: thin solid black;
	margin: 10px;
}
/*-----Inbox Info-----*/
.inbox_info{
	background-color: #ffffff;
	padding: 10px;
	margin: 10px;
	position: relative;
}
/*-----Email messages-----*/
.email_message{
	background-color: #ffffff;
	padding: 10px;
	border: thin solid black;
	margin: 10px;
	width: 58%;
	position: relative;
}
/*-----Floating Container-----*/
#float_left{
	float: left;
	margin-left: 20px;
}
#float_right{
	float: right;
	margin-right: 20px;
}
#clear{
	clear: both;
}
/*-----Inbox List-----*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color: #2E2E2E;
    position: relative;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}